<header>
    <!-- <img src="./image-hero-mobile.jpg" alt="" width="100%"> -->
   
    <div class="title-bar">
      <img src="./logo.svg" alt="">
      <div class="side-menu-btn"></div>
      <nav class="nav-bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/blogs/create">Create Blog</a></li>
        </ul>
      </nav> 
    </div>
  </header>