<header>
    <div class="title-bar">
      <nav class="nav-bar">
        <img src="./blog1.png" alt="Logo" width="100">
        <ul class="flex-row">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/blogs">Create Blog</a></li>
        </ul>
      </nav> 
      <div>
        <ul class="flex-row">
          <li><a href="">Tw</a></li>
          <li><a href="">In</a></li>
        </ul>
      </div>
    </div>
  </header>