<!DOCTYPE html>
<html lang="en">

<%- include('partials/head'); %>

<body>
  <%- include('partials/header'); %>
  <main>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium expedita, fuga provident molestiae quidem doloribus recusandae, odio enim sit numquam eaque at aspernatur sunt ipsum saepe accusamus ut maiores tenetur.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga voluptatum accusamus doloribus vel architecto, asperiores voluptates quia a eveniet ducimus veritatis cum. Doloremque, illum voluptates assumenda velit cum reiciendis asperiores!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, eveniet doloribus voluptate veritatis tenetur ipsam quas. Nostrum illo deserunt sed omnis aliquid voluptate recusandae cum quam. Eaque cumque soluta tenetur?
  </main>
    
</body>
</html>