* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    background: #000;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: .5rem;
}

.title-bar {
    /* background: #fff; */

    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
}
.flex-row {
    display: flex;
    gap: 10px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.heading {
    font-size: 8rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 1rem;
}
.blog-div:first-child {
    grid-row: 1 / span 3;
}